/* google fonts import */



/* apply to all */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

/* variables */
:root {
    --ff-body: ;
    --ff-heading: ;
}

body {
    font-family: var(--ff-body);
}

h1, h2 {
    font-family: var(--ff-heading);
}

h1 {
    font-size: 500%;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 120%;    
}

/* header styles */

header {
    background-color: #6e3db8;
    font-size: 1.25rem;
    color: white;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu li {
    list-style: none;
    padding: 10px 30px 10px 10px;
}

.nav-menu a:hover {
    text-decoration: underline;
}

/* introduction  */

#page-introduction {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title-and-intro highlights"
        "social-box highlights";
}

.title-and-intro {
    grid-area: title-and-intro;
    place-self: center;
    padding: 10% 10% 0 10%;
}

.title-and-intro p {
    line-height: 2;
    font-size: 120%;
    margin-top: 50px;
}

/* highlights video */

.highlights {
    grid-area: highlights;
    place-self: center;
    padding: 10%;
}

.highlights video {
    width: 100%;
    border-radius: 15px;
}

.video-credit {
    text-align: center;
}

/* social info */

.social-box {
    grid-area: social-box;
    place-self: center;
}

.social-box h2 {
    text-align: center;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.social-links li {
    list-style: none;
    padding: 0 20px;
}

.social-links img {
    height: 30px;
}

/* delayed input */

#delayed-input {
    background-color: steelblue;
    height: 1000px;
}