/* google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;700&family=Fredoka+One&family=Kanit&family=Staatliches&display=swap');

/* apply to all */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

/* variables */
:root {
    --ff-header: Staatliches, sans-serif;
    --ff-h1: "Fredoka One", sans-serif;
    --ff-headings: Kanit, sans-serif;
    --ff-body: "Anek Malayalam", sans-serif;
}

body {
    font-family: var(--ff-body);
}

h1 {
    font-family: var(--ff-h1);
    font-size: 500%;
    font-weight: 700;
    text-transform: uppercase;
}

h2,
h3 {
    font-family: var(--ff-headings);
}

h2 {
    font-size: 280%;
}

/* header styles */

header {
    background-color: #6e3db8;
    font-size: 1.25rem;
    font-family: var(--ff-header);
    color: white;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu li {
    list-style: none;
    padding: 10px 30px 10px 10px;
}

.nav-menu a:hover {
    text-decoration: underline;
}

/* introduction  */

#page-introduction {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title-and-intro highlights"
        "social-box highlights";
}

.title-and-intro {
    grid-area: title-and-intro;
    place-self: center;
    padding: 10% 5% 0 10%;
}

.title-and-intro p {
    line-height: 1.5;
    font-size: 120%;
    margin-top: 50px;
}

/* highlights video */

.highlights {
    grid-area: highlights;
    place-self: center;
    padding: 10% 10% 10% 5%;
}

.highlights video {
    width: 100%;
    border-radius: 15px;
}

.video-credit {
    text-align: center;
}

/* social info */

.social-box {
    grid-area: social-box;
    place-self: center;
    margin-bottom: 80px;
}

.social-box h2 {
    text-align: center;
    padding: 0 30px;
    margin-bottom: 30px;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.social-links li {
    list-style: none;
    padding: 0 10px 20px 10px;
}

.social-links img {
    width: 150px;
}

/* delayed input */

#delayed-input {
    background-color: steelblue;
    height: 1000px;
}

/* media queries */

/* re-organise introduction grid at lower resolution */
@media screen and (max-width: 1432px) {
    #page-introduction {
        grid-template-rows: 70% 30%;
        grid-template-areas:
            "title-and-intro highlights"
            "social-box social-box";
    }
    h1 {
        font-size: 450%;
    }
}

/* change introduction grid layout to block on smaller devicies, fix padding and center h1 */
@media screen and (max-width: 1000px) {
    #page-introduction {
        display: block;
    }
    h1 {
        text-align: center;
    }
    .title-and-intro {
        padding: 10% 10% 0 10%;
    }
    .highlights {
        padding: 10%;
    }
}