/* apply to all */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables */
:root {
    --ff-body: sans-serif;
    --ff-heading: sans-serif
}

body {
    font-family: var(--ff-body);
}

/* header styles */

header {
    background-color: black;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu li {
    padding: 10px;
}

.nav-menu a:hover {
    text-decoration: underline;
}

/* introduction styles */

#page-introduction {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title-and-intro highlights"
        "social-box highlights";
}

.title-and-intro {
    grid-area: title-and-intro;
    place-self: center;
    padding: 10%;
}

.highlights {
    grid-area: highlights;
    place-self: center;
    padding: 10%;
}

.highlights video {
    width: 100%;
    border-radius: 15px;
}

.video-credit {
    text-align: center;
}

.social-box {
    grid-area: social-box;
    place-self: center;
    padding: 10%;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.social-links li {
    list-style: none;
}

.social-links img {
    height: 40px;
}
