/* google font import */

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lato&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

p {
    font-family: Lato, sans-serif;
    line-height: 1.8;
    font-size: 110%;
}

h2 {
    font-family: "Secular One", sans-serif;
    font-size: 250%;
    padding: 30px 10% 30px 10%;
}

/* header and navigation */

header {
    background-color: #6e3db8;
    width: 100%;
    height: 60px;
    font-family: Kanit, sans-serif;
    font-size: 1.5rem;
    color: white;
}

#top-menu,
#watch-live-link {
    margin: 8px 15px;
}

#top-menu {
    float: left;
}

#watch-live-link {
    float: right;
}

header li {
    display: inline;
    margin-right: 25px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

/* section 1 styles */

#intro {
    /* background-color: darkgray; */
    float: left;
    width: 50%;
}

#intro h1 {
    font-family: "Secular One", sans-serif;
    font-size: 500%;
    padding: 60px 10% 30px 10%;
}

#title-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#intro p {
    padding: 0 10%;
}

#highlights {
    float: right;
    width: 50%;
}

#highlights video {
    width: 100%;
}

#social-card {
    background: blue;
}