/* google font import */

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* header and navigation */

header {
    background-color: #6e3db8;
    width: 100%;
    height: 60px;
    font-family: Kanit, sans-serif;
    font-size: 1.5rem;
    color: white;
}

#top-menu,
#watch-live-link {
    margin: 8px 15px;
}

#top-menu {
    float: left;
}

#watch-live-link {
    float: right;
}

header li {
    display: inline;
    margin-right: 25px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

/* section 1 styles */

h1 {
    font-family: "Secular One", sans-serif;
    font-size: 500%;
}

#intro {
    /* width: 100%; */
    background-color: darkgray;
}

#intro p {

}

#highlights {
    float: right;
}